@import "../css/imports/variables.css";

.exhibition img {
  width: 300px;
  border-radius: 10%;
  border: 1px solid grey;
}

.exhibition {
  padding: 40px;
  max-width: 288px;
  margin: 50px auto;
}

.exhibition p {
  font-size: 20px;
  margin-right: 100px;
  max-width: 500px;
}

.border-green {
  border: 1px solid var(--green);
}

.border-blue {
  border: 1px solid var(--blue);
}

.border-orange {
  border: 1px solid var(--orange);
}

span {
  font-size: 20px;
}
