@import "../css/imports/variables.css";

main img {
  width: 300px;
}

.blue h2 {
  background-color: var(--blue);
}

.blue a {
  background: var(--blue);
}

.orange h2 {
  background-color: var(--orange);
}

.orange a {
  background: var(--orange);
}

.biology p {
  font-size: 25px;
  margin-right: 50px;
}

.green p {
  display: inline;
}

.biology {
  margin-bottom: 100px;
}
