.home-image {
  background-image: url(../images/rsz_4quinn-villarreal-x9z0afchiyk-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  min-height: 40vh;
}

.biology {
  padding: 40px 0px 20px 0px;
  text-align: center;
  max-width: 800px;
  margin: 10px auto;
}

.biology p {
  padding: 0px 0px 0px 50px;
  font-size: 25px;
  text-align: left;
  max-width: 375px;
  display: none;
}

.biology-content {
  position: relative;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.biology-content a {
  margin-top: 15px;
  background: #41a650;
  color: #f9f9f9;
  padding: 15px 20px;
  border-radius: 20px;
}

.biology img {
  max-width: 360px;
  border: 1px solid grey;
}

.biology h2 {
  background-color: #41a650;
  padding: 20px;
  color: #f9f9f9;
}

.recommended {
  padding: 40px 0px 20px 0px;
  text-align: center;
  max-width: 800px;
  margin: 10px auto;
}

.recommended h2 {
  background-color: #1b61ec;
  padding: 20px;
  color: #f9f9f9;
}

.recommended-content {
  display: grid;
  max-width: 1200px;
  margin: 0px auto 100px;
  gap: 20px;
  justify-content: center;
}

.recommended-content img {
  max-width: 360px;
  height: 269.375px;
  border: 1px solid grey;
}

.recommended-content p {
  max-width: 360px;
  font-size: 25px;
  text-align: left;
  margin: 10px auto 40px;
}

.recommended-ind {
  position: relative;
  margin-bottom: 75px;
  text-align: center;
}

.recommended-ind h3 {
  text-align: center;
  font-size: 25px;
}

.recommended-ind a {
  background: #1b61ec;
  color: #f9f9f9;
  padding: 15px 20px;
  border-radius: 20px;
}

.about-us {
  padding: 40px 0px 20px 0px;
  text-align: center;
  max-width: 800px;
  margin: 10px auto;
}

.about-us h2 {
  background-color: #f5b013;
  padding: 20px;
  color: #f9f9f9;
}

.about-us-content {
  padding-bottom: 20px;
  max-width: 1200px;
  margin: 0px auto 100px;
  text-align: center;
}

.about-us-content img {
  height: 610px;
  max-width: 360px;
  border: 1px solid grey;
}

.about-us-content p {
  font-size: 20px;
  padding: 20px;
  text-align: left;
  max-width: 375px;
  margin: auto;
}
