@media (min-width: 767px) {
  .biology p {
    display: inline;
  }

  .visit {
    max-width: 600px;
  }
}

@media (min-width: 1000px) {
  .exhibition {
    display: flex;
    flex-direction: row-reverse;
    max-width: 1200px;
  }

  .exhibition img {
    width: 500px;
  }

  .biology,
  .recommended,
  .about-us {
    max-width: 1200px;
  }

  .about-us-content,
  .biology-content {
    display: flex;
    flex-direction: row;
    margin: 20px 10px 20px 10px;
  }

  .biology-content a {
    position: absolute;
    right: 0px;
    bottom: 0px;
  }

  .recommended-content {
    grid-template-columns: repeat(2, 1fr);
  }

  .offers {
    max-width: 100px;
    flex-direction: row;
  }
}

@media (min-width: 1090px) {
  nav {
    display: block;
    position: static;
  }

  nav li,
  nav a {
    display: inline-block;
  }

  header label {
    display: none;
  }

  .logo-text > .none {
    display: inline;
  }

  .form-wrapper {
    display: flex;
  }

  .form-wrapper > * {
    padding: 0px 20px 100px 20px;
  }

  .mobile {
    display: none;
  }

  .desktop {
    display: inline-block;
  }

  .visit > * {
    margin: 0px;
  }

  form {
    max-width: 1000px;
  }
}

@media (min-width: 1259px) {
  .home-image {
    min-height: 70vh;
  }

  .recommended-content {
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 100px;
  }

  .about-us-content p {
    font-size: 23px;
    margin-left: 40px;
  }
  .recommended-ind a {
    position: absolute;
    right: 30px;
    bottom: -50px;
  }

  .about-us-content {
    margin: auto;
  }

  .visit {
    display: flex;
    max-width: 800px;
  }

  .visit p {
    margin: 0px 60px;
  }
}
