@import "../css/imports/variables.css";

h1 {
  font-family: "Montserrat", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  font-size: 3em;
}

body {
  font-family: "Roboto", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

header,
footer {
  background-color: var(--header-footer);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer,
footer a {
  justify-content: start;
  font-size: 25px;
}

.logo-text,
.logo-text a {
  display: flex;
  align-items: center;
  color: var(--header-link);
  font-size: 25px;
}

.logo-text > .none {
  display: none;
}

.logo-image {
  width: 100px;
  padding-right: 10px;
}

nav li,
nav a {
  display: block;
  color: var(--header-link);
  padding: 15px;
  font-size: 25px;
}

nav a:hover,
footer a:hover {
  text-decoration: underline;
}

.footer-link a {
  margin-left: 40px;
  color: var(--header-link);
}

a {
  text-decoration: none;
}

nav {
  display: none;
  position: fixed;
  top: 107px;
  background-color: var(--header-footer);
  z-index: 1000;
  right: 0px;
}

#bars-menu:checked ~ nav {
  display: inline-block;
}

#bars-menu {
  display: none;
}

.fa-bars {
  margin-right: 40px;
  font-size: 25px;
}

.cta-green {
  margin-top: 15px;
  background: var(--green);
  color: var(--background-color);
  padding: 15px 40px;
  border-radius: 20px;
}

.cta-green:hover {
  background-color: var(--background-color);
  color: var(--green);
  border: 1px solid var(--green);
}

.cta-blue:hover {
  background-color: var(--background-color);
  color: var(--blue);
  border: 1px solid var(--blue);
}

.cta-orange:hover {
  background-color: var(--background-color);
  color: var(--orange);
  border: 1px solid var(--orange);
}

.background {
  background-color: var(--background-color);
  padding: 0px 0px 20px 0px;
}

.current {
  text-decoration: underline;
}

span {
  color: var(--blue);
}

#success {
  display: none;
  color: green;
}

.form-error {
  color: #fb0000;
  display: none;
}
