h1,
h2,
h3 {
  font-family: "Montserrat", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.home-image {
  background-image: url(../images/rsz_4quinn-villarreal-x9z0afchiyk-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  min-height: 70vh;
}

body {
  font-family: "Roboto", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
}

header {
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
}

.logo-text,
.logo-text a {
  display: flex;
  align-items: center;
  color: #0d0d0d;
  font-size: 25px;
}

.logo-image {
  width: 100px;
  padding-right: 10px;
}

nav li,
nav a {
  display: inline-block;
  color: #0d0d0d;
  padding: 15px;
  font-size: 20px;
  margin-left: 25px;
}

a {
  text-decoration: none;
}
